* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 80vh;
  background: url('./3109148.jpg') center center/cover;
}

main {
  margin-top: 5rem;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.timer {
  background: rgb(0, 0, 0);
  border-radius: 4px;
  color: white;
  padding: 2rem;
  height: 400px;
  box-shadow: 1px 2px 150px 10px rgba(63, 54, 73, 0.5), -1px -1px 50px 10px rgba(63, 54, 73, 0.5);
}

.timer_header {
  text-align: center;
  columns: white;
}

.timer_body {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;

}

.timer_day,
.timer_hour,
.timer_minute,
.timer_second {
  font-size: 3rem;
  text-align: center;
  color: white;
  border-radius: 50%;
  border: 2px dashed rgb(255, 255, 255);
  padding: 2rem;
}

.timer_label {
  color: white;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.lower_back {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid white;
  background: black;
  height: 120px;
}

.lower_message {
  color: white;
  width: 90%;
  background: rgb(74, 97, 37);
  margin: auto;
  border-radius: 2px;
  padding: 4px 2rem;
  text-align: center;
  text-transform: uppercase;
}